div.chat-section {
    margin: auto;
}

div.chat-item {
    display: grid;
    gap: 15px;
    grid-template-columns: auto;
}

div.chat-box {
    display: flex;    
    justify-content: baseline;


    width: 75%;
    height: 75px;

    border-style: solid;
    border-width: 2px;
    border-color: var(--solid-color);
    border-radius: var(--radius);

    font-size: small;
    color: black;
    background-color: var(--variable-color);

    transition: ease;
    transition-duration: 0.4s;
}

div.chat-box:hover {
    height: 100px;
}