/*
<div>
    <div className="header-box">
        <div className="header-chid">
            <div>Topics</div>
            <div>Top</div>
        </div>
        <div className="header-child">
            <input id="search" type="text" placeholder="Search" />
        </div>
    </div>
</div>
*/



div.header-box {
    width: fit-content;
    margin: auto;
}

div.header-chid {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin: 5px 0;
}

button {
    cursor: pointer;

    margin: 0 15px;
    width: 75px;

    border-style: solid;
    border-color: var(--solid-color);
    border-radius: var(--radius);

    padding: 5px;

    background-color: var(--variable-color);
    transition-duration: 0.4s;
}

button:hover {
    background-color: inherit;
    color: var(--solid-color);
}

input {
    padding: 5px;

    outline: none;
    border-style: hidden;
    border-radius: var(--radius);

}