
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    --radius: 5px;
    --solid-color: #6dd0ff;
    --variable-color: rgba(109, 208, 255, 1);
}

body {
    background-color: #222940;
    color: white;
    font-family: 'Rubik', sans-serif;
}
